.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    background-color: transparent;
    border-color: none;
    border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body{
    background-color: black;
}

.h-threedots{
    
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:auto; /* some width */
    
}

.box-shadow{
    box-shadow: 3px 4px 6px 2px #cccfc3b5;;
}