.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    background-color: rgb(86, 24, 137);
    border: none;
    border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-radius: 5px;
}

body{
    background-color: black;
}